 body{background:rgb(163, 158, 158);}
header{display:flex;
       background: left/cover url(http://stayathome-syllabus.greenfox.academy/week01/assets/first-website-header.png);
       height:400px;
       width:1300px;
       margin:-10px auto auto;
       position:relative;
       font-family: 'Abril Fatface';
       border-top:5px solid black;
  }


h1{position:absolute;
   top:220px;
   left:270px;
   color:#222;
}

h2{position:absolute;
   top:230px;
   left:270px;
   font-size: 57px;
   color:#222;}

div{width:700px;
    margin:40px auto;
    font-family: 'Josefin Sans', sans-serif;
}

p,li{text-align:left;
  font-size:20px;
  color:#222;}
li{margin-top:3px;}

.idezet{margin:40px auto;
        background:#222;
        width:800px;
        height:160px;
        font-family: 'Abril Fatface';
        position:relative;}

.elso{color:white;
      font-size:50px;
      position:absolute;
      top:-3px;;
      left:30px;}


.idezet::before {content:'"';
                 color:white;
                 font-size:100px;
                 position:absolute;
                 top:-25px;
                 left:0;}

#kerning{letter-spacing:1px;
         text-transform:uppercase;}

#pici{font-size:15px;}

#nagyobb{height:220px;}

#kozel{line-height:below;
       font-family: 'Merriweather', serif;
       font-size:15px;
      }
.itt{ margin:0;
       padding:0;}
span{display:flex;
     background:#222;
     height:4px;
     width:700px;
     margin:auto;}